# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

code/data/credentials.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# KiCad auto-backups, prefs locais e cache
*-backups/
*.kicad_prl
fp-info-cache
